.mplayer form, .mplayer dl, .mplayer dt, .mplayer dd, .mplayer ol, .mplayer ul, .mplayer li, .mplayer p{ margin:0; padding:0;}
.mplayer ul, .mplayer li{ list-style:none;}
.mplayer a img{ border:0;}
.mplayer a{ color:#333;}
.mplayer a, .mplayer a:hover{ text-decoration:none}
.mplayer .clb{ clear:both}
.mplayer .btn{ cursor:pointer; border:0;}

.mplayer .mp_progressbar{ margin-bottom:4px; cursor:pointer;border:1px solid #554560; height:13px; line-height:13px; overflow:hidden; position: relative;}
.mplayer .mp_cached{  width:0;background:url(mplayer.jpg) 0 -260px repeat-x; overflow:hidden; }
.mplayer .mp_played{ width:0;background:url(mplayer.jpg) 0 -280px repeat-x; overflow:hidden; position:absolute; left:0; top:0;}
.mplayer .mp_statebar{ line-height:22px;}
.mplayer .mp_statebar .mp_playedto, .mplayer .mp_statebar .mp_timelength{ color:#fff;}
.mplayer .mp_statebar .mp_playedto{ float:left; padding-left:20px;}
.mplayer .mp_statebar .mp_timelength{ float:right; padding-right:20px;}
.mplayer .mp_statebar .mp_title{ color:#fff; margin:0 20px; text-align:center;}
.mplayer .mp_statebar .mp_title a{ color:#fff;}
.mplayer .mp_statebar .mp_title a:hover{ text-decoration:underline;}
.mplayer .mp_control{ margin:10px auto; width:440px; overflow:hidden; height:37px;}
.mplayer .mp_volumebar{ width:102px; float:left;display:inline;}
.mplayer .mp_volumeico{ height:17px; }
.mplayer .mp_minvolume{background:url(mplayer.jpg) 0 -330px no-repeat; float:left;display:inline; cursor: pointer; width:8px; height:11px; line-height:11px; overflow:hidden;}
.mplayer .mp_minvolume:hover{background:url(mplayer.jpg) -25px -330px no-repeat;}
.mplayer .mp_minvolumed{background:url(mplayer.jpg) -60px -330px no-repeat; float:left;display:inline; cursor: pointer;  width:14px; height:11px; line-height:11px; overflow:hidden; }
.mplayer .mp_minvolumed:hover{background:url(mplayer.jpg) -85px -330px no-repeat;}
.mplayer .mp_maxvolume{ float:right;display:inline; width:14px; height:11px; line-height:11px; cursor:pointer; overflow:hidden; background:url(mplayer.jpg) 0 -350px no-repeat; }
.mplayer .mp_maxvolume:hover{background:url(mplayer.jpg) -25px -350px no-repeat;}
.mplayer .mp_volumeprogress{ width:101px; border-right:1px solid #000; height:8px; line-height:8px; overflow:hidden;background:url(mplayer.jpg) 0 -300px no-repeat; cursor:pointer; }
.mplayer .mp_currentvolume{ margin:2px 0 0 2px; width:0; height:4px; overflow:hidden; line-height:4px; text-indent:9999px;background:url(mplayer.jpg) 0 -320px repeat-x;}
.mplayer .mp_control .mp_btns{ overflow:hidden; margin:0 20px; float:left;display:inline; width:202px; height:37px; line-height:37px;background:url(mplayer.jpg) 0 0 no-repeat; }
.mplayer .mp_control .mp_btns a{  float:left; display:inline; outline:none; width:49px; line-height:34px; text-indent:9999px; overflow:hidden; background-image:url(mplayer.jpg); background-repeat:no-repeat;}
.mplayer .mp_control .mp_playpausebtn{margin:1px 1px 2px 1px; height:34px;margin:1px 1px 0 0px;  }
.mplayer .mp_control .mp_playbtn{background:url(mplayer.jpg) -24px -40px no-repeat;}
.mplayer .mp_control .mp_playbtn:hover{ background-position:-124px -40px ;}
.mplayer .mp_control .mp_pausebtn{background-position:-24px -120px;}
.mplayer .mp_control .mp_pausebtn:hover{background-position:-124px -120px; }
.mplayer .mp_control .mp_stopbtn{background-position:-24px -80px;  margin:1px 1px 0 0px;  }
.mplayer .mp_control .mp_stopbtn:hover{background-position:-124px -80px;  }
.mplayer .mp_control .mp_prevbtn{background-position:-24px -200px;  margin:1px 1px 0 1px;}
.mplayer .mp_control .mp_prevbtn:hover{background-position:-124px -200px;}
.mplayer .mp_control .mp_nextbtn{background-position:-24px -160px;  margin:1px 1px 0 0;}
.mplayer .mp_control .mp_nextbtn:hover{background-position:-124px -160px;  }
.mplayer .mp_control .mp_playmodewrap{ margin-top:10px; float:left; width:95px; height:18px; line-height:18px; overflow:hidden;}
.mplayer .mp_control .mp_playmodecon{ width:100%; height:18px; }
.mplayer .mp_control .mp_playmode{ float:left; display:inline; width:25px;background-image:url(mplayer.jpg); background-repeat:no-repeat; }

.mplayer .mp_control .mp_playmode_mode1{ background-position:0 -440px; margin-right:10px; }
.mplayer .mp_control .mp_playmode_mode1:hover{ background-position: -30px -440px; }
.mplayer .mp_control .mp_playmode_mode1_selected{ background-position:-60px -440px; }
.mplayer .mp_control .mp_playmode_mode1_selected:hover{background-position:-90px -440px; }

.mplayer .mp_control .mp_playmode_mode2{background-position:0 -460px; margin-right:10px; }
.mplayer .mp_control .mp_playmode_mode2:hover{background-position:-30px -460px;}
.mplayer .mp_control .mp_playmode_mode2_selected{background-position:-60px -460px;}
.mplayer .mp_control .mp_playmode_mode2_selected:hover{background-position:-90px -460px;}

.mplayer .mp_control .mp_playmode_mode3{ background-position:0 -480px;  }
.mplayer .mp_control .mp_playmode_mode3:hover{ background-position:-30px -480px;}
.mplayer .mp_control .mp_playmode_mode3_selected{ background-position:-60px -480px; }
.mplayer .mp_control .mp_playmode_mode3_selected:hover{ background-position:-90px -480px;}

.mplayer .mp_audiocon{ height:1px; overflow:hidden;}
.mplayer .mp_audiocon audio{ }
.mplayer .mp_lrccon_container{background:#000; padding:20px 0; color:#fff; text-align:center;  line-height:20px; } 
.mplayer .mp_lrccon_wraper{ width:100%;   height:220px; position:relative; overflow:hidden;  }
.mplayer .mp_lrccon{ left:0; top:100px;  width:100%; z-index:1; }
.mplayer .mp_lrccon p{}
.mplayer .mp_lrccon .loadinglrc {  line-height:220px;}
.mplayer .mp_lrccon .currnetlrc{ color:#f00; }
.mplayer .mp_lrctimebar{ width:100%; left:0; top:100px;  position:absolute; z-index:2;}
.mplayer .mp_lrctimebarcon{ margin:0 10px;border-top:1px solid #666;color:#fff; text-align:right;  }
.mplayer .mp_lrcshowtime{ display:inline-block; margin-right:10px;}
.mplayer .mp_audiocon audio{ display:none;}
.mplayer .mp_listcon{width:440px; margin:0 auto 10px;}
.mplayer .mp_listcon, .mplayer .mp_listcon a{color:#fff;}
.mplayer .mp_list{ line-height:24px; }
.mplayer .mp_list, .mplayer .mp_list a{ }
.mplayer .mp_list li{ padding:0 10px }
.mplayer .mp_list .current{ background:#26102E;}
.mplayer .mp_list .current a{ color:#E892E9;}
.mplayer .mp_page{ margin:20px auto;}
.mplayer .mp_page, .mplayer .mp_page a{}
.mplayer .mp_page span{ display:inline-block; margin:0 5px;}
.mplayer .mp_page  a{ text-decoration:underline;}


